

.title_header{
  font-family: 'Clicker Script', cursive;
  font-weight: 500;
}

.header_container{
    color: white;
    font-family: 'Playfair Display', serif;
}


.subtitle{
    max-width: 520px;
}

@media screen and (max-width: 885px){
    .header_container{
        background-size: cover !important;
        background-position: center;
    }
}